@(id:Long)

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/default.min.css")">
<script src="@routes.Assets.at("javascripts/highlight.min.js")"></script>
<script>



</script>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="codeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Code</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Statistics</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Other</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Other</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home"> <pre><code class="java" id="javaCode"></code></pre></div>
                    <div role="tabpanel" class="tab-pane" id="profile" ><div id="statistics"  class="table-responsive" ></div></div>
                    <div role="tabpanel" class="tab-pane" id="messages">...</div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>

            </div>
        </div>
    </div>
</div>


