@(id: Long)

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/default.min.css")">
<script src="@routes.Assets.at("javascripts/highlight.min.js")"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="codeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div>

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                        Code</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                        Statistics</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" id="chart">
                        Discussions</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                        Other</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home"> <pre><code class="java" id="javaCode"></code></pre></div>
                    <div role="tabpanel" class="tab-pane" id="profile" ><div id="statistics" class="table-responsive" ></div></div>
                    <div role="tabpanel" class="tab-pane" id="messages"><div id="discussions" class="table-responsive" ></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
//google.charts.load('current', {'packages':['corechart']});
//
//var datas = [];
//// Load the Visualization API and the corechart package.
//
//// Set a callback to run when the Google Visualization API is loaded.
//    google.charts.setOnLoadCallback(drawChart.bind(this));
//
//    function drawChart(){
//            drawChartMethods();
//            drawChartLoop();
//            drawFieldMethods();
//    }
//
//      function drawChartMethods() {
//
//        genericChart([
//          ['Private', this.datas.noPrivateMethod],
//          ['Protected', this.datas.noProtectedMethod],
//          ['Public', this.datas.noPublicMethod]],
//          'Methods Modifiers','chart_div');
//      }
//
//      function drawChartLoop() {
//           if(this.datas.noForSTM==0 && this.datas.noForeachSTM==0 && this.datas.noWhile==0) return;
//           genericChart([
//              ['For', this.datas.noForSTM],
//              ['Foreach', this.datas.noForeachSTM],
//              ['While', this.datas.noWhile]],
//              'Loops','chart_div1');
//      }
//
//      function drawFieldMethods() {
//        genericChart([
//          ['Fileds', this.datas.noF],
//          ['Methods', this.datas.noMethod]],
//          'Fields/Methods','chart_div2');
//
//      }
//
//
//      function genericChart(rows,title,divId){
//            var data = new google.visualization.DataTable();
//            data.addColumn('string', 'Topping');
//            data.addColumn('number', 'Slices');
//            data.addRows(rows);
//            // Set chart options
//            var options = {'title':title,
//                           'width':400,
//                           'height':400,
//                            is3D: true};
//            // Instantiate and draw our chart, passing in some options.
//            var chart = new google.visualization.PieChart(document.getElementById(divId));
//            chart.draw(data, options);
//      }
//
//
//
//

function renderData(dta){
//    datas = dta;
//    drawChart();
}




</script>