@(id:String,min:Int,max:Int,currentMin:Int,currentMax:Int)


<input type="text" class = "rangeValue" id="@{id}input" name ="@id" readonly style="border:0; color:#f6931f; font-weight:bold; font-size : 20px ;">
<div id= "@{id}slider-range" ></div>


<script type="text/javascript">

       $(function() {
            var t1 = "#"+"@id"+"slider-range";
            var t2 = "#"+"@id"+"input";

            $(t1).slider({
              range: true,
              min:@min ,
              max:@max,
              values: [ @currentMin, @currentMax ],
              slide: function( event, ui ) {
                $(t2).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                console.log(ui.values[ 0 ] + " - " + ui.values[ 1 ] )
              }
            });

            $( t2 ).val( "" + @min +
              " - " +@max );
  });
   </script>
