@import play.api.libs.json.__

@import com.fasterxml.jackson.databind.JsonNode
@(id:Long,filters:JsonNode)
@*
remembre range value!!
*@
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript"></script>

<link rel ="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">

<div class="panel panel-info positionRightAbsolute" >

    <div class="panel-heading">
        Filters
    </div>

    <div class="container-fluid filterContent" >

        <form  id = "myForm">



              @for( a <- (filters.get("filter")).elements()){
                  @if(a.get("Type").toString.contains("RANGE")){

                      @components.panelShowHide(a.get("Id").toString.replace("\"","")+"P") { @a.get("Name").toString.replace("\"","")} {
                          @components.rangePicker(a.get("Id").toString.replace("\"",""), a.get("Min").asInt(), a.get("Max").asInt(), a.get("Min").asInt(), a.get("Max").asInt())
                      }
                  }
                  @if(a.get("Type").toString.contains("INPUT")){
                      @components.panelShowHide(a.get("Id").toString.replace("\"","")+"P") {  @a.get("Name").toString.replace("\"","")}{
                          <input type="text" name='@a.get("Id")' id='@a.get("Id")' placeholder="path">
                          }
                  }
              }


            <input type="button" value="Apply" onclick="send()"/>


        </form>


    </div>
    <hr>

    <div class="container-fluid withMargin">
        <div class="panel panel-default">
            <div class="panel-heading">
                Apply Filters
            </div>
        </div>
    </div>


</div>


<script>

console.log("@filters");
function send(){
@*$.post("@routes.Application.applyFilter()", $('#myForm').serialize())*@
$.ajax({
  type: "POST",
  url: "@routes.Application.applyFilter()",
  data: ($('#myForm').serialize())+"&id=@{id}",
  success: function(e){
  console.log(e)
  },
  contentType: "text/plain; charset=utf-8",
  dataType: "json"
});
}


        // wait for the DOM to be loaded

              @*$.ajax({*@
    @*type: "POST",*@
    @*url: "@routes.Application.applyFilter()",*@
    @*// The key needs to match your method's input parameter (case-sensitive).*@
    @*data: JSON.stringify({id:5}),*@
    @*contentType: "application/json; charset=utf-8",*@
    @*dataType: "json",*@
    @*success: function(data){alert(data);},*@
    @*failure: function(errMsg) {*@
        @*alert(errMsg);*@
    @*}*@
</script>

