@import com.fasterxml.jackson.databind.JsonNode
@(id: Long, filters: JsonNode)
@*
remembre range value!!
*@
<script src="@routes.Assets.at("javascripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery.form.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/jquery-scrollto.js")" type="text/javascript"></script>



<link rel ="stylesheet" href="@routes.Assets.at("stylesheets/jquery-ui.min.css")">

<button type="button" class="btn btn-default sideBarClose " aria-label="Left Align" onclick="hideShow()" id="slideHideShow">
    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
</button>
<div id="sideBar" class="panel panel-info positionRightAbsolute panelFilterColor" >

    <div class="panel-heading">
        Filters
    </div>

    <div class="container-fluid filterContent" >

        <form id = "myForm">


            @for(a <- (filters.get("filter")).elements()) {
                @if(a.get("Type").toString.contains("RANGE")) {

                    @components.panelShowHide(a.get("Id").toString.replace("\"", "") + "P") {
                        @a.get("Name").toString.replace("\"", "")
                    } {
                        @components.rangePicker(a.get("Id").toString.replace("\"", ""), a.get("Min").asInt(), a.get("Max").asInt(), a.get("Min").asInt(), a.get("Max").asInt())
                    }
                }
                @if(a.get("Type").toString.contains("INPUT")) {
                    @components.panelShowHide(a.get("Id").toString.replace("\"", "") + "P") {
                        @a.get("Name").toString.replace("\"", "")
                    } {
                        <input type="text" name='@a.get("Id")' id='@a.get("Id")' placeholder="path">
                    }
                }
            }

            @components.panelShowHide("actionSelector") { Action} {
                <div class="form-group">
                    <label for="sel1">Action</label>
                    <select class="form-control" id="sel1" name = "action">
                        <option value="Hide">Hide</option>
                        <option value="Show">Show</option>
                        <option value="HideOther">Hide Other</option>
                        <option value="ShowOther">Show Other</option>
                    </select>
                </div>
            }

            @components.panelShowHide("colorPiker") { Color} {

                <input type="color" class="form-control" name="Color"/>
            }


        </form>


    </div>
    <div class="applyContainer" >


        <input type="button" value="Apply" onclick="send()" class="centered"/>


    </div>

    <hr>

    <div class="filterContainer " id="addFilters">
    </div>

</div>



<script>
var numberOfApplyFilter = 0;
function send(){
$.ajax({
  type: "POST",
  url: "@routes.Application.applyFilter()",
  data: ($('#myForm').serialize())+"&id=@{
    id
}",
  success: function(e){
        console.log(e,"asdasd");

        numberOfApplyFilter++;
                addFilter(numberOfApplyFilter,e);

        $("#addFilters").append("" +
         "<div class='filtersApp' id='filter"+numberOfApplyFilter+"'>"+
                    "<span  class='glyphicon glyphicon-remove' aria-hidden='true' onclick='removeFilter("+numberOfApplyFilter+")'></span>"+
                    "Filter "+numberOfApplyFilter+
                "</div>");





  },
  contentType: "text/plain; charset=utf-8",
  dataType: "json"
});
}

function removeFilter(id){
    deleteFilter(id);
    $("#"+'filter'+id).remove();
}

 $("#sideBar").hide();
 $("#slideHideShow").addClass('glyphicon glyphicon-chevron-left');

    function hideShow(){
            if($("#sideBar").is(":visible") ){
                 $("#sideBar").hide();
                   $("#slideHideShow").removeClass('glyphicon glyphicon-chevron-right').addClass('glyphicon glyphicon-chevron-left');
                   $("#slideHideShow").removeClass('sideBarOpen').addClass('sideBarClose');

               }else{
                 $("#sideBar").show();
                        $("#slideHideShow").removeClass('glyphicon glyphicon-chevron-left').addClass('glyphicon glyphicon-chevron-right');
                        $("#slideHideShow").removeClass('sideBarClose').addClass('sideBarOpen');

               }
              }



</script>

