html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
}

#droppy{
    position:absolute;
    right:10px;
    top:10px;


}

#droppyContent{
    padding: 10px;


}

#dropdownMenu1{

    background-color: white;
}

#bar{
    position:absolute;
}
.tableInfoColor{
    background-color: hsla(0, 0%, 60%, 0.38);
    color:white;

}

#searchBar{
    position: absolute;
    bottom: 0px;
}

.rangeValue{

    width:100%;
    text-align: center;
}
.positionRightAbsolute{
    position: absolute;
    right: 0px;
    top:50px;
    height:100%;
}

.withMargin{
    margin-top:20px;
}

.filterContent{
    background-color: hsla(0, 0%, 45%, 0.38);
    overflow-y: scroll;
    height:40%;
}

.panelFilterColor{
    display: block;
    background-color: hsla(0, 0%, 60%, 0.38);
    width: 250px;
    height:70%;

}

.filterContainer{
    display: flex;
    background-color: hsla(0, 0%, 45%, 0.38);
    overflow-y: scroll;
    height:40%;

}
.toRight{
    float:right;
}

.applyContainer{
    width:100%;
    height: 10% ;
    display: inline;


}

.centered{
    margin:auto;
    margin-top: 10px;

}

.filtersApp{
    -moz-border-radius: 60%;
    border-radius: 60%;
    padding: 10px;
    background-color: #F6A828;
    width: 80px;
    height: 50px;


}

#addFilter{
    width: 30%;
}

.filterContainer{

    display:flex;
    flex-wrap:wrap;
    width: 250px;
    justify-content:space-around;
    overflow-y: scroll;
    max-height:40%;



}

.sideBarOpen{
    position: absolute;
    right: 250px;
    top:30%;
    
}

.sideBarClose{
    position: absolute;
    right: 0px;
    top:50%;

}

#chartContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;


    width: 100%;
}

#statistics{
    padding: 10px;
}

.chart{
    font-size: 8px;
    display: block;
    margin: 0 auto;
    width:400px;
    height:400px;
}


#legenda{
    color:white;
    padding:10px;
    position:absolute;
    bottom: 0px;
    background: rgba(172, 172, 172, 0.14);
}

#pName {
    color: white;

    position: absolute;
    bottom: 10px;
    right: 0px;
    background: rgba(172, 172, 172, 0.35);
    padding: 10px;

}

#tableName{
    padding: 10px;
}

#listRepo{
    height: 500px;
    overflow-y: scroll;
}

#contMetricx{
    position: absolute;
    bottom:0px;
    left: 0px;
    
}

td{
    cursor: pointer;
}
#globalSpinner{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    height: 64px;

    background: url("../images/loading.gif");
    background-size: 60px 64px;

    /*animation-name: spin;*/
    /*animation-duration: 4000ms;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

input{
    background: white;
}

ul {
    list-style-type: none;
}

#table tr {
    display : none;
}
tr.parent {
    display : table-row;
}
tr.open {
    display : table-row;
}


