html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
}

#droppy{
    position:absolute;
    right:130px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

#droppyContent{
    padding: 10px;


}

#dropdownMenu1{
    padding: 10px;

}

#bar{
    position:absolute;
    background: darkgreen;

}