@(id : Long)
@main(""){


    <div  id="greeting" style="overflow-y: auto;">

    </div>

    <a  href="/">List of Repository</a>

    <script type="text/javascript" charset="utf-8">
    
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var sock = new WS("@routes.WebSocketConnection.sockHandler(id).webSocketURL(request)")
            
            sock.onmessage = function(event) {
                var inputNode = $("<p>->"+event.data+"</p>");
                $('#greeting').append(inputNode);
                $("#greeting").animate({scrollTop: $("#greeting").get(0).scrollHeight,duration:1});


            }

        })
    
    </script>

}