@(title: String,infoProject:Map[String,String])(content: Html)
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel ="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel ="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script src="@routes.Assets.at("javascripts/jquery-2.2.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/babylon.js")" type="text/javascript"></script>



    </head>
    <body>

        <div class="dropdown closed " id="droppy" data-keyboard="false">

            <button data-keyboard="false" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </button>

                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a class="dropdown-item" href="@routes.Application.getRepositories()">List Repository</a></li>
                    <li><a class="dropdown-item" href="@routes.Registration.repoRegistrationTemplate()">Add Repository</a></li>
                </ul>
        </div>

        <div style="width:100%; height : 100% ;">
            @content
        </div>

        <div id="legenda">

        <table>
            <tr>
                <td>
                    <p>Increasing order</p>
                </td>

                <tr>
                <td style="background: rgb(255,99,71); width:100% ; height:20px;">
                </td>
            <tr>
                <td style="background: rgb(209,180,140); width:100% ; height:20px;">
                </td>
            <tr>
                <td style="background: rgb(113,198,113); width:100% ; height:20px;">
                </td>
            <tr>
                <td style="background: rgb(25,25,112); width:100% ; height:20px;">
                </td>
            <tr>
                <td style="background: #73B0D5; width:100% ; height:20px;">
                </td>
            <tr>
                <td style="background:#DA5A9A; width:100% ; height:20px;">
                </td>
            </tr>
            </table>

            </div>

            <div id = "pName" class="table-responsive">
                <table id="tableName">
                    <tbody>

                    <tr><td>Name: </td><td><a href="@infoProject.get("name")">@infoProject.get("name")</a></td></tr>
                    <tr><td>Number of line of code: </td><td>@infoProject.get("nol")</td></tr>

                    <tr><td>Number of files: </td><td>@infoProject.get("nod")</td></tr>
                    <tr><td>Size: </td><td>@infoProject.get("size")</td></tr>
                    </tbody>


                </table>
           </div>

        <script type="text/javascript">
            $("#droppy").on('hide.bs.dropdown',function(){
                $("#renderCanvas").focus();
            });

</script>
    </body>
</html>
